.idea/

results*
runners/

.venv-sc2/
.venv*/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
.venv-3_12/

.claude/
prompts/
.prompts/
claude.md
*.log
data-not-usable/
data/processed/
data/raw/
logs/


pysc2/